.event{
    position: relative;
    line-height: 0;
}
.event img {
    width: 100%;
}

.event .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}
.event:hover .overlay {
    display: block;
}